[submodule "treesitter/tree-sitter-python"]
	path = treesitter/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
[submodule "treesitter/tree-sitter-rust"]
	path = treesitter/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
